@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{font-family: 'Poppins', sans-serif;
  text-decoration: none;
  margin: 0;padding: 0;
}
body{
  color: #333;
}
img{
  max-width: 100%;
}
main{
  max-width: 100%;
  padding: 1%;
}

/*nav*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center ;
  margin-bottom: 1rem;
}
header a{
  color:inherit;
}
header .logo{
  font-weight: 600;
  font-size: 1.2rem;
}
nav a{
  margin-left: 0.5rem;
}


/*post*/
div.post{
  padding: 1rem;
}

div.post div.post-text h2{
  font-size: 1.2rem;
  font-weight: bold;
}
p.post-info{
  font-size: 0.9rem;
  color: #888;
}

p.post-info a.author{
  margin-right:0.9rem;
  color: inherit;
}

